page-markets {
	.scroll-content{
		background: black !important;
	}
	.content_markets h3{
		color: #fff;
	    font-size: 15px;
	    font-weight: 400;
	    margin-bottom: 26px;
        margin-top: 10px !important;
	}
	.top_market{
		margin-bottom: 10px;
	}
	.top_market img{
		width: 10px;
		margin-bottom: -1px;
	}
	.top_market p {
    	
    }
    .top_market .left{
    	
    	color: #f39a38;
    	font-size: 11px;
    }
    .top_market .right{
    	margin-top: 3px;
    	margin-left: 2px;
    }
    .top_market ion-col{
    	padding: 0px;
    }
   	.item_markets ion-col{
   		line-height: 50px;
   	}
   	.item_markets .name img{
   		width: 20px;
	    margin-right: 10px;
	    margin-bottom: -5px;

   	}
   	.item_markets .change img{
	    
	    width: 8px;
	    margin-left: 3px;
	    margin-bottom: 0px;
   	}
   	.item_markets .right{
   		color: #fff;
   	}
   	
   	.item_markets .price{
   		color: #bbbbbb;
   	}
   	.item_markets .price_color{
   		color: #FF574F;
   	}
   	.item_markets .change .left{
   		border-radius: 5px;
      color: #fff;
      font-size: 13px;
      width: 72px;
      float: left;
      height: 35px;
      line-height: 35px;
      margin-top: 8px;
   	}
   	.up.item_markets  .price_color{
   		color: #00C79C;
   	}
   	.up.item_markets .change  .left{
   		background: #00C79C;
   	}
   	.content_markets .item_markets{
      border-bottom: 1px solid #131313;
    }
}
