<ion-content>
	<ion-card class="card_header" >
		<!-- <p text-center>
			<img  src="assets/imgs/logo.png" /> 
		</p>
		<p text-center>
			{{infomation.email}}
		</p>	 -->
		<ion-card-content>
      <ion-grid>
        <ion-row text-center>
          <ion-col col-12 text-center>
            <div class="border-image">
              <img *ngIf="img_camera == ''" (click)="clickImage()" class="img-profile"  src="{{infomation.img_profile}}" />
              <img *ngIf="img_camera != ''" (click)="clickImage()" class="img-profile" src="{{img_camera}}">
              <ion-icon (click)="clickImage()" class="icon-img" name="camera"></ion-icon>
            </div>
            <p text-center>{{infomation.email}}</p>
          </ion-col>
        </ion-row>
        
      </ion-grid>
    </ion-card-content>
	</ion-card>
	
	<ion-card class="card_content">
		<ion-row>
       		<ion-col col-6 class="" (click)=ViewQrcodeAddPartner()>
       			<div class="left">
       				<img  src="assets/imgs/QR_code_for_QRpedia.png" />
       			</div>
        		<div class="right">
        			<p>Qrcode Add Partner</p>
        			<span>Qrcode Add Partner</span>
        		</div>
        	</ion-col>

          <ion-col col-6 class="padding-right-none" (click)="ViewMyPartnerPage()">   
            <div class="left">
              <img  src="assets/imgs/business_parter_icon.png" />
            </div>
            <div class="right">
              <p>My Business Partner</p>
              <span>My Business Partner</span>
            </div>
          </ion-col>
      	</ion-row>
      	<ion-row >
       		<ion-col col-6 class="" (click)="ViewEanings()">
       			<div class="left">
       				<img  src="assets/imgs/income_icon.png" />
       			</div>
        		<div class="right">
        			<p>Eanings</p>
        			<span>Eanings</span>
        		</div>
        	</ion-col>
       		<ion-col col-6 class="padding-right-none" (click)="ViewRecordsExchange()">   
       			<div class="left">
       				<img  src="assets/imgs/record_icon.png" />
       			</div>
        		<div class="right">
        			<p>Records of Exchange</p>
        			<span>Records of Exchange</span>
        		</div>
       		</ion-col>
      	</ion-row>
      	<ion-row>
       		<ion-col col-6 class="" (click)="ViewContactUs()">
            <div class="left">
              <img  src="assets/imgs/tel_icon.png" />
            </div>
            <div class="right">
              <p>Contact Us</p>
              <span>Contact Us</span>
            </div>
          </ion-col>
       		<ion-col col-6 class="padding-right-none" (click)="ViewAddWalletAddress()">   
       			<div class="left">
       				<img  src="assets/imgs/wallet_address_icon.png" />
       			</div>
        		<div class="right">
        			<p>Add Wallet Address</p>
        			<span>Add Wallet Address</span>
        		</div>
       		</ion-col>
      	</ion-row>
      	<ion-row>
       		<ion-col col-6 class="" (click)="ViewSettings()">
            <div class="left">
              <img  src="assets/imgs/sys_icon.png" />
            </div>
            <div class="right">
              <p>Settings</p>
              <span>Settings</span>
            </div>
          </ion-col>
       		<ion-col col-6 class="padding-right-none">   
       			
       		</ion-col>
      	</ion-row>
	</ion-card>

	<ion-card class="bottom_content">
		<p text-center (click)="Logout_Click()">
			<img  src="assets/imgs/loginout_icon.png" /> Login Out
		</p>
	</ion-card>
</ion-content>
